@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap');
h1, h2, h3, h4, h5, h6
{
    font-family: 'Oswald', sans-serif !important;
}
body, html
{
    font-family: 'Raleway', sans-serif;
}
#top-main-page {
    background: url('/img/family.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
}
#main-title
{
    color: white;
    padding-top: 10%;
}
.main-btn-wrapper
{
    margin-top: 100px;
}
.main-btn
{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
#offres-title
{
    margin: 30px 0;
}